main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

article {
  width: 60%; }
  article > p:hover {
    background-color: darkslategrey; }
  article p {
    font-size: 50px;
    color: purple; }
