$main-font-color: purple;
@import "main"




article {
    width: 60%;

    &>p:hover {
        background-color: darkslategrey;
    }

    p {
        font-size: 50px;
        color: $main-font-color;
    }
}