$main-font-color: purple;
@import "main";




article {
    &>p:hover {
        background-color: darkslategrey;
    }

    p {
        font-size: 50px;
        color: $main-font-color;
        width: 60%;
    }
}